.gradle
/build/
out/
target/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

.gradletasknamecache
.idea
.idea_modules/
*.iml
gradle.properties
secret-keys.gpg
**/*.log

# macOS
*.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# App creates
data/
logs/
caches/
locales/